body {
    font-family: Century Gothic, Arial, sans-serif;
    background-color: #090909;
   
}

.header1{
background-color: rgb(221, 222, 227);
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100px; 
  width: 400px;
  
}

.bold{
    font-weight: 500;
    background-color: #007bff;
    color: white;
}

.header1 p{
    margin-left: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(9, 50, 197, 0.1);
    border-radius: 20px;
}

.container h1{
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: white;
    color: #007bff;
    border: solid 1px;
    cursor: pointer;
    
}

button .button{
    align-content: center;
    align-items: center;
}

button:hover{
    background-color: #007bff;
    color: #fff;
}

#qr-code {
    margin-top: 20px;
}


/*********** footer ***********/

footer{
    height: 80px;
    background-color: rgb(3, 3, 3);
}
